//
//  Third.xcconfig
//  Practice_Divid
//
//  Created by kimjiseob on 15/07/2019.
//  Copyright © 2019 kimjiseob. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "../../Pods/Target Support Files/Pods-Practice_Divid/Pods-Practice_Divid.release.xcconfig"


APP_DISPLAY_NAME = Divide_Dev
PRODUCT_BUNDLE_IDENTIFIER = com.KJS.Practice-Divid-Dev
SERVER_URL = https:/$()/Develop.com
